* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --siteMaxWidth: "";
  --sitePadding: 2rem;
  --sideNavWidth: 30rem;
  --boxPadding: 2rem;

  --coreFont: "Rajdhani", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --secondaryFont: "Orbitron", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  /* Fallback Dark */
  --clrPrimary: hsl(0, 95%, 62%);
  --clrBg: hsl(240, 11%, 7%);
  --clrBgLight: hsl(240, 11%, 10%);
  --clrHeading: hsl(0, 0%, 100%);
  --clrText: hsl(240, 9%, 91%);
  --clrDetail: rgb(171, 171, 171);
  --clrScroll: hsl(240, 3%, 19%);
  --clrBorder: hsl(240, 3%, 19%);
  --clrHover: hsl(240, 3%, 19%);
}
:root[data-theme="light"] {
  --clrPrimary: hsl(243.61, 64.52%, 29.41%);
  --clrBg: hsl(0, 0%, 88.24%);
  --clrBgLight: hsl(0, 0%, 76%);
  --clrHeading: hsl(0, 0%, 0%);
  --clrText: hsl(0, 0%, 5%);
  --clrDetail: hsl(0, 0%, 41%);
  --clrScroll: hsl(240, 3%, 19%);
  --clrBorder: hsl(0, 0%, 0%);
  --clrHover: hsl(0, 0%, 76%);
}
:root[data-theme="dark"] {
  --clrPrimary: hsl(0, 95%, 62%);
  --clrBg: hsl(195, 11%, 7%);
  --clrBgLight: hsl(240, 11%, 10%);
  --clrHeading: hsl(0, 0%, 100%);
  --clrText: hsl(240, 9%, 91%);
  --clrDetail: rgb(171, 171, 171);
  --clrScroll: hsl(240, 3%, 19%);
  --clrBorder: hsl(240, 3%, 19%);
  --clrHover: hsl(240, 3%, 19%);
}
html {
  font-family: var(--coreFont);
  font-size: 62.5%;
  background-color: var(--clrBg);
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-size: 1.6rem;
  background-color: var(--clrBg);
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: var(--sitePadding) var(--sitePadding) var(--sitePadding) calc(var(--sideNavWidth) + var(--sitePadding) * 2);
}
header,
footer {
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}
/* Normalize */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
}
img,
svg {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  &:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    filter: grayscale(1);
    pointer-events: none;
    opacity: 0.5;
  }
}
[popover] {
  color: inherit;
  border: none;
  height: auto;
}
