#sidenav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: var(--sideNavWidth);
  height: 100dvh;
  border-right: 1px solid var(--clrBorder);
  background-color: var(--clrBgLight);
  overflow: hidden;
  --sideNavPadding: 1rem;
}
#sidenav-header,
#sidenav-footer {
  flex-shrink: 0;
  padding: var(--sideNavPadding);
}

#sidenav-header {
  display: flex;
  border-bottom: 1px solid var(--clrBorder);
  > img {
    flex-shrink: 0;
  }
}

#sidenav-content {
  padding: var(--sideNavPadding) 0;
  flex-grow: 1;
  overflow: hidden auto;
}
.sidenav-item > a,
.sidenav-itemgroup > button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem var(--sideNavPadding);
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover,
  &:focus-visible {
    background-color: var(--clrBg);
  }
  > svg {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    color: var(--clrPrimary);
    background-color: hsla(from var(--clrPrimary) h s l / 0.3);
    filter: grayscale(1);
  }
}
.sidenav-item > a.active svg,
.sidenav-itemgroup:has(.active) > button svg {
  filter: none;
}
.sidenav-itemgroup > button {
  text-align: left;
  background: none;
  border: none;
  &:not(:disabled) {
    cursor: pointer;
  }
}
.sidenav-itemgroup > div {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  opacity: 1;
  overflow: hidden;
  transition: grid-template-rows 0.2s ease, opacity 0.2s ease;
  > ul {
    min-height: 0;
    padding-left: calc(var(--sideNavPadding) * 2.5);
    > li {
      border-left: 1px solid var(--clrBorder);
      &:has(.active) {
        border-color: inherit;
      }
    }
  }
  &[inert] {
    grid-template-rows: 0fr;
    opacity: 0;
  }
}

#sidenav-footer {
  margin-top: auto;
  border-top: 1px solid var(--clrBorder);
}
