#sidenav {
  --offset: 1rem;
  position: absolute;
  top: var(--offset);
  left: var(--offset);
  display: flex;
  flex-direction: column;
  width: var(--sideNavWidth);
  height: calc(100dvh - var(--offset) * 2);
  padding: var(--boxPadding);
  border: 1px solid var(--clrBorder);
  border-radius: calc(var(--sitePadding) * 2);
  overflow: hidden;
}
#sidenav-header,
#sidenav-footer {
  flex-shrink: 0;
}
#sidenav-header {
  display: flex;
  border-bottom: 1px solid var(--clrBorder);
  padding-bottom: var(--boxPadding);
  > img {
    flex-shrink: 0;
  }
}

#sidenav-content {
  padding: var(--boxPadding) 0;
  flex-grow: 1;
  overflow: hidden auto;
}
.sidenav-item > a,
.sidenav-itemgroup > button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 0;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover,
  &:focus-visible {
    background-color: var(--clrBg);
  }
  > svg {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    color: var(--clrPrimary);
    background-color: hsla(from var(--clrPrimary) h s l / 0.3);
    /* transition: filter 0.2s ease; */
    filter: grayscale(1);
  }
}
.sidenav-item > a.active svg,
.sidenav-itemgroup:has(.active) > button svg {
  filter: none;
}
.sidenav-itemgroup > button {
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  border: none;
  background: none;
  &:not(:disabled) {
    cursor: pointer;
  }
}
.sidenav-itemgroup > div {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  opacity: 1;
  overflow: hidden;
  transition: grid-template-rows 0.2s ease, opacity 0.2s ease;
  > ul {
    min-height: 0;
    padding-left: 1.5rem;
    > li {
      padding-left: 1.5rem;
      border-left: 1px solid var(--clrBorder);
      /* transition: border-color 0.2s ease; */
      &:has(.active) {
        border-color: inherit;
      }
    }
  }
  &[inert] {
    grid-template-rows: 0fr;
    opacity: 0;
  }
}

#sidenav-footer {
  margin-top: auto;
  padding-top: var(--boxPadding);
  border-top: 1px solid var(--clrBorder);
}
